

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
      
.nav{
    text-align: left;
    padding-left: 150px;
}
.nav1{
    flex-direction: row;
    justify-content: flex-end;
    
}
.nav1 a{
    padding: 20px;
}
.header1{
    padding-left: 140px;padding-top: 140px;
}
.img img{
    width: 250px;
    height: auto;

}
.img{
    padding-top: 140px;
    
}
.images a img{
    width: 30%;
    height: auto;
}

.contact3{
    padding-left: 10%;
}
.contact1{
    padding-left: 10%;
}